body{
	margin: 0px;
	display: block;
}
.main{
	width: 100%;
	max-width: 1528px;	
	margin: 0 auto;
}

.container{
	max-width: 300px;
	margin: 0 auto;
}

ul{
	list-style: none;
	padding: 0px;

}

a{
	text-decoration: none;
	color: black;
}

.header{
	width: 100%;

}

.header-upper{
	width: 100%;
	background-color: #ff4040;
}

.header-upper-logo{
	width: 65%;
	padding: 1px;
	display: inline-block	;
}

.header-upper-logo ul li{
	display: inline-block;
	vertical-align: middle;
}
.header-upper-logo ul {
	margin: 0px;
}
.header-upper-logo h2{
	margin: 0px;
	color: #f2f2f2;
}

.header-upper-text{
	display: inline-block;
}

.header-upper-text ul li{
	display: inline-block;
	text-align: right;
	color: white;
}
.header-upper-text ul li a{
	color: #f2f2f2;
}
.header-upper-text ul li select {
	border:1px solid white;
	padding: 5px;
	background-color: #ff4040;
	color: white;
}

.header-lower{
	width: 100%;	
	box-shadow:0px 5px 10px 0px rgba(0,0,0,10%) ;
}
.header-lower-logo{
	width: 70%;
	display: inline-block;
}
.header-lower-logo img{
	width: 15%;
	max-width: 100%;
	padding: 5px;
}

.header-lower-text{
	
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
.header-lower-text ul li img{
	width: 20px;
	max-width: 100%;
	vertical-align: middle;
	padding: 5px;
}
.header-lower-text ul li{
	display: inline-block;
	
}
.nav-bar{
	width: 100%;
	margin-top: 30px;
}
.nav-bar-list{
	border: 2px solid #f2f2f2;
	border-radius: 10px;
	text-align: center;
}
.nav-bar-list ul li img{
	width:20px;
	max-width: 100%;
	vertical-align: middle;
	float: right;
}
.nav-bar-list ul li{
	width: 120px;
	height:20px ;
	display: inline-block;
	border: 1px solid grey;
	margin: 2px;
	padding: 9px;
	border-radius: 10px;	
}
.banner{
	width: 100%;
	background-image: url("../image/students2.jpg");
	max-width: 100%;
	margin-top: 30px;
}

.banner-contant{
	padding:8%;
	opacity: .7;
}
.search ul li input{
	width: 100%;
	text-align: right;

}

.search ul li{
	width: 90%;
	text-align:left;

}
.search{
	width: 90%;
}

.banner-contant ul li input{
	width: 100%;
	padding: 10px;
	text-align: left;
}
.banner-contant ul li select{
	padding: 12px;
	width: 120px;

}
.banner-contant ul li{
	display: inline-block;
}
.contant{
	width:100%;
	margin-top: 2%;
	text-align:center;
	background-color:  #f2f2f2;
}
.contant-part-one
{
	width: 32%;
	display: inline-block;
	position: relative;
}
.contant-part-one img{
	width: 70%;
	max-width: 100%;
}
.contant-part1-text{
	position: absolute;
	color:  #f2f2f2;
	top: 3%;
	left: 17%;
	border: 2px dashed white;
	text-align: center;	
}
.contant-part1-text-padding1{
	padding: 29px 35px 75px 40px;
}
.contant-part1-text-padding2{
	padding: 29px 35px 75px 40px;
}
.contant-part1-text-padding3{
	padding:32px 32px 75px 40px;
}

.inspiration{
	width: 100%;
}

.inspiration-heading{
	width: 100%;
	border-bottom:2px solid  #f2f2f2 ;
}
.inspiration-heading-left{
	width: 50%;
	display: inline-block;
}
.inspiration-heading-right{
	width: 49%;
	display: inline-block;
	text-align: right;
}
.inspiration-image{
	width: 100%;
}
.inspiration-image-part1{
	width: 237px;
	display: inline-block;
	margin: 8px;
}
.inspiration-image-part1 img{
	width: 100%;
	max-width: 100%;
}
.inspiration-color-part1{
	background-color: #ffcf00;
	text-align: center;
}
.inspiration-color-part2{
	background-color: #b26bb2;
	text-align: center;
}
.inspiration-color-part3{
	background-color: #219cff;
	text-align: center;
}
.inspiration-color-part4{
	background-color: #ad0000;
	text-align: center;
}
.parents{
	width: 100%;
	margin-top: 2%;
}
.parent-heading-left{
	width: 50%;
	display: inline-block;
}
.parent-heading-right{
	width: 49%;
	display: inline-block;
	text-align: right;
}
.parent-heading{
	width: 100%;
	border-bottom:2px solid  #f2f2f2 ;
}
.parent-contant{
	width: 100%;
	margin-top: -1.5%;
}
.parent-contant-part1{
	width:243px;
	display: inline-block;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0,20%);
	margin-top: 2%;
	padding: 5px;
}
.parent-contant-part1 img{
	width: 100%;
	max-width: 100%;
	border-radius: 15px;
}
.parent-contant-part1 h4 p{
	margin: 0px;
	line-height: 25px;
}
.parent-contant-part1 p{
	margin-bottom: 8px;
}
.parent-contant-btn1{
	width: 45%;
	display: inline-block;
}
.parent-contant-btn2{
	width: 45%;
	display: inline-block;

}
.parent-contant-btn1 a{
	color: whitesmoke;
	background-color: #fa0000;
	padding: 5px 15px 5px 15px ;
	border-radius: 5px;
	display: inline-block;
}
.parent-contant-btn2 a{
	color: #fa0000;
	background-color:#e6e6e6;
	padding:  5px 15px 5px 15px;
	border-radius: 5px;
}
.parent-btn-main{
	text-align: center;
}
.explore{
	width: 100%;
	margin-top: 2%;
}
.explore-left{
	width: 59%;
	display: inline-block;
	margin-right: 5px;
}
.explore-left-heading{
	width: 100%;
	border-bottom: 1px solid #8c8c8c;
}

.explore-left-heading-left{
	width: 50%;
	display: inline-block;
}
.explore-left-heading-right{
	width: 49%;
	display: inline-block;
	text-align: right;
}
.explore-left-contant{
	width: 100%;
	font-size: 15px;
	display: inline-block;
}
.explore-left-contant-upper
{
	margin-top: 15px;
	border-bottom:2px solid  #f2f2f2
}

.explore-left-contant-upper-img {
	width: 49%;
	display: inline-block;
}
.explore-left-contant-upper-text{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
.explore-left-contant-upper-text h3 p{
	margin: 0px;
}
.explore-left-contant-upper-img img{
	width: 90%;
	max-width: 100%;
	border-radius: 10px;
}
.btn3 a{
	color: #fa0000;
	background-color:#e6e6e6;
	padding:  5px 15px 5px 15px;
	border-radius: 5px;
}
.explore-right{
	width:35%;
	display: inline-block;
}
.explore-heading{
	width: 100%;
	display: inline-block;
}
.explore-right-heading-left{
	width: 49%;
	display: inline-block;
}
.explore-right-heading-right{
	width: 49%;
	display: inline-block;
}

.explore-btn2{
	padding:10px 15px 10px 15px;
	border: 1px solid  #e6e6e6;
	display: inline-block;
}
.explore-btn1{
	padding:10px 40px 1px 40px;
	border-radius: 8px 0px 0px 8px;
	background-color: #fa0000;
	margin-bottom: 4%;
	display: inline-block;
}
.explore-right-contant1-img {
	width: 49%;
	display: inline-block;
}

.explore-right-contant1-text{
	width: 48%;
	display: inline-block;
} 

.explore-right-contant1-img img{
	width: 90%;
	max-width: 100%;
	border-radius: 10px;
}
.explore-right-contant1{
	width: 100%;
	margin-top: 10px;
}
.explore-right-contant{
	width: 100%;
}
.browse-image{
	width: 100%;
	
}
.browse{
	text-align: center;
	background-color: #f0f5f5;
	box-shadow: 0px 10px 30px 0px rgba(0, 0, 0,20%);
}
.browse-image1{
	width: 22%;
	display: inline-block;
	padding: 10px;
	position: relative;
}
.browse-image1 img{
	max-width: 100%;
	width: 100%;
	display: inline-block;
	border-radius: 8px;
}
.browse-link a h2 p{
	border: 2px solid black;
	padding: 5px;
	border-radius: 5px;
	font-size: 20px;
}
.browse-link{
	color:white ;
	text-align: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility:hidden;
	opacity: 0;
	background: rgba(255, 106, 154, 0.7);
	width:100%;
	border-radius: 5px;
	max-width: 100%;
}
.browse-image1:hover .browse-link{ 
	visibility: visible;
	opacity: 1;

}

.highlight h5{
	background-color:#ff5c33;
	color: whitesmoke;
	width: 30%;
	padding: 15px 40px 15px 40px;
	border-radius: 5px;
}
.browse h4{
	font-weight: 150;
}
.honey-kids{
	width: 100%;
	margin: 40px 0px 40px 0px;	
}

.honey-kids-contant{
	margin-top: 2%;
	border: 5px solid #e6e6e6;
	padding: 10px;
}

.honey-kids-text{
	width:69%;
	display: inline-block;
}	
.honey-kids-image{
	width:29% ;
	display: inline-block;
}
.honey-kids-text h1{
	margin: 0px;
	line-height:40px;
}
.honeykid-highlight h1{
	color: skyblue;
}
.btn-kids a{
	background-color:#ff4c3d;
	padding: 10px 25px 10px 25px;
	border-radius: 5px;
	margin:5px 0px 5px 0px;
}
.family{
	background-color: #1fb8b8;
}

.family-contant{
	width: 100%;
}

.family-contant-image{
	width:40% ;
	display: inline-block;
}
.family-contant-image img{
	max-width: 100%;
	width: 100%;
}
.family-contant-text{
	display: inline-block;
	width: 59%;
	color: white;
}
.icon{
		width: 100%;
		margin-top: 3%;
		
}

.icon-list{
	width: 100%;
	text-align: center;
	background-color:#e6e6e699;
}
.icon-list ul li {
	display: inline;
	padding: 0px 20px 0px 20px;
	vertical-align: middle;
}

.icon-list ul li img{
	max-width: 100%;
	width: 10%;
}
.detail{
	width: 100%;
	margin-top: 5%;
}
.detail-image{
	width: 40%;
	vertical-align: middle;
	display: inline-block;
}
.detail-contant{
	width: 100%;
	max-width: 700;
	margin: 0 auto;
}
.detail-text{
	width: 59%;
	display: inline-block;
	vertical-align: middle;	
}
.detail h5{
	font-weight:100;
	font-size: 20px;
	line-height: 20px;
	font-family:  cursive;
}
.detail-text h2{
	color: #00b8b8;
}
.download{
	
	background-image:url("../image/laptop.jpg");
	width: 100%;
	background-size: cover;
	margin-top: 5%;
}
.download-text{
	text-align: center;
	color: white;
	padding-top: 10px;
}
.download-background img{
	width: 13%;
	max-width: 100%;
	padding: 20px;
}
.download-contant1 {
	width: 50%;
	max-width: 100%;
	display: inline-block;
	text-align: right;
}
.download-contant2 {
	width: 49%;
	max-width: 100%;
	display: inline-block;
}
.downloadt-text h1 h4{
	color: whitesmoke;
	text-align: center;
}
.downloadt-text{
	padding-top: 1%;
}
.get-in-know{
	background-color: #1fb8b8;
	padding: 30px;
}
.know-center{
	width: 100%;
	max-width:800px;
	margin: 0 auto;
}
.know-text{
	text-align: center;
	color: whitesmoke;
}
.know-search > input{
	border: 0px;
	padding: 5px 20px 5px 20px;
	margin-right: -4px;
}
.know-search{
	text-align: center;
} 
.know-submit input{
	background-color:#ff4c3d;
	border-radius:1px;
	color: whitesmoke;
	padding: 5px 20px 5px 20px;
}
.footer{
	width: 100%;
}
.footer-left{
	width: 74%;
	display: inline-block;
}
.footer-left-list{
	width: 31%;
	display: inline-block;
	color: #404040;
}
.footer-left-list ul li{
	border-bottom: 1px #cccccc dashed;
	padding: 5px;
}
.footer-right{
	width: 25%;
	display: inline-block;
	color: #404040;
}
.footer-right-upper ul li a img{
	max-width: 100%;
	width: 30px;
	margin: 0px 5px 0px 5px;

}
.footer-right-upper ul li {
	display: inline-block;
	text-align: center;
}

.footer-right-lower ul li a img{
	max-width: 100%;
	width: 150px;
	margin: 0px 5px 0px 5px;

}
.footer-right-lower ul li {
	display: inline-block;
	text-align: center;
}
.footer-border-red > h3{
	border-bottom: 4px solid #ff704c;
}
.footer-border-blue h3{
	border-bottom: 4px solid #1fb8b8;
}
.footer-copyright{
	background-color: #1fb8b8;
	color: whitesmoke;
	width: 100%;
}
.copyright-text p{
	padding: 15px;
}

@media (max-width: 992px){

}

@media (max-width: 767px ) {

	html{
		overflow-x: hidden;
	}

	body{
		overflow-x:hidden;
	}

	.header-upper{
		width: 100%;
		text-align: center;
	}
	.header-upper-logo ul li{
		display:inline-block;
		padding: 2px;

	}
	.header-upper-text{
		width: 70%;
	}
	.header-upper-text ul li{
		display:inline-block;
	}
	.header-upper-logo ul li img{
		width: 100px;
	}
	.header-lower{
		width: 100%;
		text-align: center;
	}
	.header-lower ul li{
		display: inline-block;
	}
	.header-lower-logo{
		text-align: center;
	}
	.header-lower-text ul li{
		display: inline-block;
	}
	
	.contant-part-one{
		width: 70%;
		max-width:auto;
	}
	.contant-part1-text{
		position: static;
		color: black;
	}
	.inspiration-image{
		width: 100%;
		text-align: center;
	}
	.inspiration-image-part1{
		margin-left: 10%;
	}
	.inspiration-heading-left{
		text-align: center;
		width: 100%;
	}
	.parent-heading .parent-heading-left {
		width: 100%;
		text-align: center;
	}
	.parent-contant{
		text-align: center;
	}
	.explore-left{
		width: 100%;
	}
	.explore-left-heading{
		width: 100%;
		text-align: center;
	}
	.explore-left-heading-right{
		width: 100%;
		text-align: center;
	} 
	.explore-right{
		width: 100%;
	}
	.browse .browse h4{
		width: 100%;
		text-align: center;
	}
	.honey-kids .family{
		width: 100%;
		text-align: center;
	}
	.honey-kids-image{
		display: block;
		width: 50%;
		margin-top: 20px;
	}
	 .honey-kids-text{
	 	width: 100%;
	 	text-align: center;
	 	font-size: small;
	 }
	 .honey-kids-image{
	 	text-align: center;
	 	width: 100%;
	 }
	.family .family-contant{
		display: block;
	}
	.family-contant-image {
		display: inline-block;
		width: 100%;
		text-align: left;
	}
	.family-contant{
		width: 100;
		text-align: center;
	}
	.family-contant {
		width: 100%;
		text-align: center;
	}
	.family-contant-text{
		width: 100%;
		text-align: center;
	}
	.detail-contant{
		text-align: center;
	}
	.detail-image{
		width: 100%;
	} 
	.download-download{
		width: 100%;
	}
	.download-contant1{
		width:49%;
	}
	.icon-list{
		width:100%;
		text-align: center;
		vertical-align: middle;
	}
	.know-submit input 
	{
		width: 30%;
	}
	.footer-left{
		margin-right:20px ;

	}
	.footer-left-list{
		width: 80%;
		display: block;
	}
	.footer-right{
		width: 80%;
		display: block;
	}
}